<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Preguntas</h3>

        </div>
        <div class="d-flex justify-content-center row">
            <div class="d-flex flex-column ">

                <div class="coment-bottom bg-white ">
                    <div class="d-flex flex-row justify-content-center align-items-center mt-4 mb-4  ">
                        <img class="img-fluid img-responsive rounded-circle mr-2 imagen-comentar" src="https://i.imgur.com/qdiP4DB.jpg" width="50">
                        <input type="text" class="form-control  mr-3" placeholder="Escribi tu pregunta..." [ngModel]="idComentario" (ngModelChange)="changeInput($event)">
                        <button class="btn btn-primary boton" type="button" (click)="comentar()">Comentar</button>
                    </div>
                    <!-- comentario -->
                    <div class="d-flex flex-row comment-row box-resenia " *ngFor="let comentario of comentarios">
                        <div class=" ">
                            <img class="img-fluid img-responsive rounded-circle mr-2 imagen-comentar" src="{{comentario.imagen}}" width="50">
                        </div>

                        <div class="comment-text w-100">
                            <div class="d-flex">
                                <div class="col-6">
                                    <h6 class=" text-card fw-bold">{{comentario.nombre}}</h6>
                                    <div class="comment-footer"> <span class="date">{{comentario.fecha}}</span> </div>
                                </div>

                            </div>
                            <p class=" text-card">{{comentario.comentario}}</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>