<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Comentarios</h3>

        </div>
        <div class="d-flex justify-content-center row">
            <div class="d-flex flex-column ">

                <div class="coment-bottom bg-white ">
                    <div class="d-flex flex-row justify-content-center align-items-center mt-4 mb-4  ">
                        <img class="img-fluid img-responsive rounded-circle mr-2 imagen-comentar" src="https://i.imgur.com/qdiP4DB.jpg" width="50">
                        <input type="text" class="form-control  mr-3" placeholder="Escribi tu pregunta...">
                        <button class="btn btn-primary boton" type="button">Comentar</button>
                    </div>
                    <!-- comentario -->
                    <div class="d-flex flex-row comment-row box-resenia ">
                        <div class=" ">
                            <img class="img-fluid img-responsive rounded-circle mr-2 imagen-comentar" src="https://i.imgur.com/qdiP4DB.jpg" width="50">
                        </div>

                        <div class="comment-text w-100">
                            <div class="d-flex">
                                <div class="col-6">
                                    <h6 class=" text-card fw-bold">Pedro</h6>
                                    <div class="comment-footer"> <span class="date">febrero de 2020</span> </div>
                                </div>

                            </div>
                            <p class=" text-card">Cuanto el kilo? </p>
                        </div>

                    </div>
                    <!-- asdsd -->
                    <div class="d-flex flex-row comment-row box-resenia mt-2 ">
                        <div class=" ">
                            <img class="img-fluid img-responsive rounded-circle mr-2 imagen-comentar" src="https://i.imgur.com/qdiP4DB.jpg" width="50">
                        </div>
                        <div class="comment-text w-100">
                            <div class="d-flex">
                                <div class="col-6">
                                    <h6 class=" text-card fw-bold">Pedro</h6>
                                    <div class="comment-footer"> <span class="date">febrero de 2020</span> </div>
                                </div>

                            </div>
                            <p class=" text-card">María es muy atenta y siempre disponible para resolver cualquier situación, durante mi estancia tuve un inconveniente con la puerta de ingreso y lo pudimos solucionar UWU</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>