.card {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
    z-index: 100;
    transition: ease-in-out .1s;
    transform: perspective(400px) translateZ(20px);
}

.heartCircle {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #FFFFFF;
}

img {
    cursor: pointer;
}

.price {
    color: #1F5754;
}

.cora {
    background-color: white;
    height: 30px;
    width: 30px;
}

.heart {
    margin-top: 2px;
    font-size: 30px;
    color: #FD3F3F;
    // background-color: white;
}

.heart * {
    vertical-align: auto!important;
}

.card-img-top {
    height: 17rem;
    object-fit: cover;
}

.star {
    color: #EA9A00;
}

.coraAnimation {
    -webkit-animation-name: pulso;
    animation-name: pulso;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    // animation-delay: 2s;
    animation-fill-mode: both;
}

@-webkit-keyframes pulso {
    0% {
        font-size: 35px;
    }
    50% {
        font-size: 20px;
    }
    100% {
        font-size: 30px;
    }
}

@keyframes pulso {
    0% {
        font-size: 35px;
    }
    50% {
        font-size: 20px;
    }
    100% {
        font-size: 30px;
    }
}