* {
    list-style: none;
}

.badge-busqueda {
    width: fit-content;
    font-size: 1rem;
    color: #262626;
    margin: .5rem;
    background-color: #43A9A3;
}

.filtros {
    background-color: #D1D1D1;
    height: fit-content;
    min-height: 100px;
    border-radius: 5px;
}

.filtros * {
    color: #000022;
}

.filter-title {
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: .1rem;
}

.filter-subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

li * {
    margin-right: .3rem;
}

input {
    color: #262626 !important;
}

.btn-aplicar {
    background-color: #1F5754;
    color: #F9F9F9 !important;
}

.btn-aplicar:hover {
    transition: ease-in-out .2s;
    background-color: #43A9A3;
    color: #000022 !important;
}

span label {
    font-weight: 300;
}

.delete-filter {
    cursor: pointer;
    color: #fff;
}

.delete-filter:hover {
    transition: ease-in-out .1s;
    color: #FD3F3F !important;
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slideInRight:nth-child(6) {
    animation-delay: 0.0s;
}

.slideInRight:nth-child(5) {
    animation-delay: 0.2s;
}

.slideInRight:nth-child(4) {
    animation-delay: 0.3s;
}

.slideInRight:nth-child(3) {
    animation-delay: 0.4s;
}

.slideInRight:nth-child(2) {
    animation-delay: 0.5s;
}

.slideInRight:nth-child(1) {
    animation-delay: 0.6s;
}