.back-nav {
    background-color: #1F5754;
}

.nav-item {
    border-radius: 10px;
}

.item-nav * {
    color: #E5FFCB;
}

.nav-item:hover {
    transition: ease-in-out .1s;
    background-color: #E5FFCB;
}

.nav-item:hover * {
    color: #1F5754 !important;
}

.item-deco {
    text-decoration: underline;
}

.nav-icon {
    font-size: larger;
    margin-left: 0.25vw;
}

.box-icon {
    font-size: 40px;
}

.notification * {
    color: #232F3E;
}

.notif {
    background-color: #EA9A00 !important;
    padding: .4rem;
}

#staticBackdrop * {
    color: #317D78;
}

.fondoscuro {
    background-color: #D1D1D1;
}

.modal-title {
    font-size: 2rem !important;
    text-transform: uppercase;
}

.modal-subtitle {
    color: #6B6B6B !important;
    opacity: .75;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

p {
    font-size: .75rem;
    opacity: .8;
}

button {
    background-color: #317D78;
    color: #E5FFCB !important;
    font-size: 1.2rem;
    box-shadow: #6B6B6B;
}

.btn-reg:hover,
.btn-log:hover {
    background-color: #E5FFCB !important;
    color: #232F3E !important;
    transition: ease-in-out .1s;
}

@media (max-width: 600px) {
    #searchNav {
        display: none;
    }
}