<nav class="navbar navbar-expand-lg back-nav">
    <div class="container-fluid">
        <a class="navbar-brand item-nav col-1 d-flex justify-content-center" href="#" [routerLink]="['/']">
            <fa-icon class="box-icon" [icon]="['fab', 'airbnb']"></fa-icon>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between col-7" id="navbarSupportedContent">
            <app-search-bar class="col-4" id="searchNav"></app-search-bar>
            <ul class="navbar-nav mb-2 mx-3 mb-lg-0 d-flex justify-content-around col-6">
                <li class="nav-item item-nav m-auto">
                    <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/']">
                        Ser Anfitrion
                        <fa-icon class="nav-icon" [icon]="['fas', 'plus-square']"></fa-icon>
                    </a>
                </li>
                <li class="nav-item item-nav m-auto">
                    <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/']">
                        Ayuda
                        <fa-icon class="nav-icon" [icon]="['fas', 'question-circle']"></fa-icon>
                    </a>
                </li>
                <li class="nav-item item-nav item-deco m-auto" *ngIf=!userLogged>
                    <a class="nav-link active bg-secondary rounded btn-reg" aria-current="page" [routerLink]="['/registro']">Registrarse</a>
                </li>
                <li class="nav-item item-nav item-deco m-auto" *ngIf=!userLogged>
                    <a class="nav-link active bg-dark rounded btn-log" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Iniciar Sesion</a>
                </li>
                <li class="nav-item dropdown item-nav m-auto" *ngIf=userLogged>
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Notificaciones
                        <fa-icon class="nav-icon" [icon]="['fas', 'bell']"></fa-icon>
                        <span class="position-absolute top-25 start-100 translate-middle badge border border-light rounded-circle notif"><span class="visually-hidden">unread messages</span></span>
                    </a>
                    <ul class="dropdown-menu postion-relative" aria-labelledby="navbarDropdown">
                        <li class="notification"><a class="dropdown-item" [routerLink]="['/']">¡No te olvides de reseñar "X"!</a></li>
                        <li class="notification"><a class="dropdown-item" [routerLink]="['/']">5%OFF si valoras "Y".</a></li>
                        <li class="notification"><a class="dropdown-item" [routerLink]="['/']">¡Mira esto para tu viaje!</a></li>
                    </ul>
                </li>
                <li class="nav-item item-nav m-auto" *ngIf=userLogged>
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']">
                        Perfil
                        <fa-icon class="nav-icon" [icon]="['fas', 'user-circle']"></fa-icon>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- <app-log-in [navLogin]="login"></app-log-in> -->
    <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog mt-5">
            <div class="modal-content fondoscuro">
                <div class="col mx-auto my-3 p-0">
                    <h5 class="modal-title mx-auto text-center" id="staticBackdropLabel">Iniciar Sesion</h5>
                    <h5 class="modal-subtitle mx-auto text-center" id="staticBackdropLabel">Airbnb</h5>
                </div>
                <div class="modal-body">
                    <label for="user" class="form-label">Usuario</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1">
                    </div>
                    <label for="pass" class="form-label">Contraseña</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1">
                    </div>
                    <p class="col my-0 p-0">Olvidastes tu contraseña?</p>

                </div>
                <div class="row my-3">
                    <div class="col d-flex justify-content-center">
                        <button type="button" class="btn p-1 col-3 text-center btn-log" (click)="login()" data-bs-dismiss="modal">Ingresar</button>
                    </div>
                    <div class="col-11 my-2 mx-auto">
                        <p class="my-0 p-0 text-center">Si aun no tenes una cuenta</p>
                        <hr class="my-0 p-0 dropdown-divider w-100">
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button type="button" class="btn p-1 col-3 text-center btn-reg" [routerLink]="['/registro']">Registrate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>