<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{'active': contador==1}">
            <div class="side-bar col-2 fondoscuro h-100 rounded-end d-flex flex-column">
                <h5 class="text-light w-100 mx-2 my-3">Peru</h5>
                <p class="text-light mw-90 mx-2">Deleitate con los lugares mas pintorescos y turisticos de Peru. Visita desde Machu Picchu hasta la ciudad de Lima, degustando todo tipo de comidas.</p>
            </div>
            <div class="col d-block m-0 p-0">
                <img src="https://api-static.eventsip.com/portals/files/38529/38529.jpg" class="d-block w-100 mh-50" alt="Peru">
            </div>
        </div>
        <div class="carousel-item" [ngClass]="{'active': contador == 2}">
            <div class="side-bar col-2 fondoscuro h-100 rounded-end d-flex flex-column">
                <h5 class="text-light w-100 mx-2 my-3">Argentina</h5>
                <p class="text-light mw-90 mx-2">Deleitate con los lugares mas pintorescos y turisticos de Argentina. Visita desde Ushuaia hasta la ciudad de Buenos Aires, degustando todo tipo de comidas.</p>
            </div>
            <div class="col d-block m-0 p-0">
                <img src="https://diegogrados.files.wordpress.com/2019/01/p1050454.jpg?w=1920&h=1080&crop=1" class="d-block w-100 mh-50" alt="Peru">
            </div>
        </div>
        <div class="carousel-item" [ngClass]="{'active': contador == 3}">
            <div class="side-bar col-2 fondoscuro h-100 rounded-end d-flex flex-column">
                <h5 class="text-light w-100 mx-2 my-3">Brasil</h5>
                <p class="text-light mw-90 mx-2">Deleitate con los lugares mas pintorescos y turisticos de Brasil. Visita desde el Amazonas hasta la ciudad de Sao Paulo, degustando todo tipo de comidas.</p>
            </div>
            <div class="col d-block m-0 p-0">
                <img src="https://www.wallpapertip.com/wmimgs/16-165685_hd-pics-photos-attractive-best-beach-coconut-tree.jpg" class="d-block w-100 mh-50" alt="Peru">
            </div>
        </div>
    </div>
</div>