.fondoscuro {
    background-color: #317D78;
}

.side-bar {
    position: absolute;
    left: 0;
}

.carousel-size {
    height: 20em;
    background-color: #818080;
}

.all-rounded {
    border-radius: 10px;
}