img {
    max-width: 100%
}

.badge-busqueda {
    width: fit-content;
    font-size: 1rem;
    color: #262626;
    margin: .5rem;
    background-color: #43A9A3;
}

.text-card {
    font-size: 21px;
}

.font-weight-bold {
    font-weight: bold;
    // color: #FD3F3F;
}

.precio {
    color: #1F5754;
}

.star {
    color: #EA9A00;
}

.boton {
    border: none;
    width: 181px;
    height: 64px;
    filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.5));
    background: #1F5754;
    border-radius: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.011em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.boton:hover {
    filter: none;
    transition: ease-in-out .2s;
    background-color: #43A9A3;
    color: #000;
}

.botonCancelar {
    background-color: #FD3F3F !important;
}

.botonCancelar:hover {
    filter: none;
    transition: ease-in-out .2s;
    background-color: #da0000 !important;
    color: #fff !important;
}

.cora {
    font-size: 25px;
    margin: 10px;
    border: none;
    width: 90px;
    height: 64px;
    background: #EAEDED;
    color: #FD3F3F;
    filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.5));
    border-radius: 12px;
}

.cora:hover {
    filter: none;
    transition: ease-in-out .2s;
    background-color: #43A9A3;
}

// aaaaaaaaaaaaaaaaaaseparador
#staticBackdrop * {
    color: #317D78;
}

.fondoscuro {
    background-color: #D1D1D1;
}

.modal-title {
    font-size: 2rem !important;
    // text-transform: uppercase;
}

label {
    font-size: 1rem;
    font-weight: 400;
}

// p {
//     font-size: .75rem;
//     opacity: .8;
// }
.btnModal {
    background-color: #317D78;
    color: #E5FFCB;
    font-size: 1.2rem;
    box-shadow: #6B6B6B;
}

.coraAnimation {
    -webkit-animation-name: pulso;
    animation-name: pulso;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    // animation-delay: 2s;
    animation-fill-mode: both;
}

@-webkit-keyframes pulso {
    0% {
        font-size: 35px;
    }
    50% {
        font-size: 10px;
    }
    100% {
        font-size: 25px;
    }
}

@keyframes pulso {
    0% {
        font-size: 35px;
    }
    50% {
        font-size: 10px;
    }
    100% {
        font-size: 25px;
    }
}

.Addgradient {
    -webkit-animation-name: gradient;
    animation-name: gradient;
    -webkit-animation-duration: 100ms;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: both;
    // animation-delay: 2s;
    animation-fill-mode: both;
}

@keyframes gradient {
    0% {
        background: radial-gradient(circle at center, rgba(60, 182, 70, 0) 0%, #fff 0%, #fff 100%);
    }
    25% {
        background: radial-gradient(circle at center, rgba( 60, 182, 70, 0.3) 24%, #fff 25%, #fff 100%);
    }
    50% {
        font-size: 15px;
        background: radial-gradient(circle at center, rgba( 60, 182, 70, 0.5) 49%, #fff 50%, #fff 100%);
    }
    75% {
        font-size: 30px;
        background: radial-gradient(circle at center, rgba(60, 182, 70, 0.8) 74%, #fff 75%, #fff 100%);
    }
    100% {
        font-size: 22px;
        color: #E5FFCB;
        background: radial-gradient(circle at center, #087bda 99%, #fff 100%, #fff 100%);
    }
}