#staticBackdrop * {
    color: #317D78;
}

.fondoscuro {
    background-color: #D1D1D1;
}

.modal-title {
    font-size: 2rem !important;
    text-transform: uppercase;
}

.modal-subtitle {
    color: #6B6B6B !important;
    opacity: .75;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

p {
    font-size: .75rem;
    opacity: .8;
}

button {
    background-color: #317D78;
    color: #E5FFCB !important;
    font-size: 1.2rem;
    box-shadow: #6B6B6B;
}