<div class="container">
    <div class="row d-flex col-11 mx-auto">
        <app-carrousel class="my-2"></app-carrousel>
        <app-card-anfitrion></app-card-anfitrion>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item col-3" [ngClass]="{'active' : i === 1}" *ngFor="let lugar of valorados; let i=index">
                    <div class="d-flex justify-content-around">
                        <app-card [lugar]="lugar[0]" class="mx-3"></app-card>
                        <app-card [lugar]="lugar[1]" class="mx-3"></app-card>
                        <app-card [lugar]="lugar[2]" class="mx-3"></app-card>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</div>