<div class="card mb-3 col-sm-8 col-md-12 col mx-auto slideInRight" [ngClass]="{'offer': lugar.oferta}">
    <div class="row g-0">
        <div class="col-md-4 d-flex justify-content-end">
            <img [src]="lugar.imagen" class="img-fluid rounded-start" alt="..." [routerLink]="['/detalle']">
            <div class="position-absolute w-100 d-flex justify-content-end">

                <div class="heartCircle  m-3" *ngIf="!favorite">
                    <fa-icon [icon]="['far', 'heart']" class="heart text-center coraAnimation" (click)="favorito()"></fa-icon>
                </div>

                <div class="heartCircle  m-3" *ngIf="favorite">
                    <fa-icon [icon]="['fas', 'heart']" class="heart text-center coraAnimation" (click)="favorito()"></fa-icon>
                </div>

            </div>
        </div>
        <div class="col-md-8" [routerLink]="['/detalle']">
            <div class="card-body">
                <div class="d-flex">
                    <div class="col-10">
                        <h5 class="card-title">{{lugar.titulo}}</h5>
                    </div>
                </div>
                <p class="card-text max-height">{{lugar.descripcion}}</p>
                <div class="mt-auto row d-flex box-hover w-100">
                    <div class="d-flex col-4 mt-auto">
                        <div *ngFor="let star of lugar.valoracion">
                            <fa-icon [icon]="['fas', 'star']" *ngIf="star==true" class="star"></fa-icon>
                            <fa-icon [icon]="['far', 'star']" *ngIf="star==false" class="star"></fa-icon>
                        </div>
                    </div>
                    <div class="col mb-0 pb-0 my-auto">
                        <div class="d-flex justify-content-end float-end">
                            <h4 class="text-end my-auto price" *ngIf="!lugar.oferta">{{lugar.precio|currency}}</h4>
                            <span class="text-end my-auto" *ngIf="!lugar.oferta">/noche</span>
                        </div>
                        <div class="text-end my-auto d-flex justify-content-end" *ngIf="lugar.oferta">
                            <span class="ofertaSpan col-4 h-50 mt-auto">50% Off</span>
                            <div class="col row">
                                <span class="col-12 text-end d-flex justify-content-end tachado" *ngIf="lugar.oferta">{{lugar.precio*2|currency}}</span>
                                <h4 class="col text-end my-auto mx-0 price"> {{lugar.precio|currency}}</h4>
                                <span class="col-4 text-end my-auto mx-0">/noche</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>