p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(.8);
    transition: ease-in-out .15s;
    overflow: hidden;
}

.card:hover {
    z-index: 100;
    filter: none;
}

.box-hover {
    max-width: 65%;
    position: absolute;
    bottom: -10%;
    visibility: hidden;
    transition: ease-in-out .2s;
}

.card:hover .box-hover {
    bottom: 5%;
    visibility: visible;
}

.heartCircle {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #FFFFFF;
}

.oferta {
    background-color: #479400;
    color: white;
}

.tachado {
    text-decoration: line-through;
}

.ofertaSpan {
    font-size: 1.2rem;
    background-color: #479400;
    padding-right: .3rem;
    color: white;
    border-radius: 2px;
}

img {
    cursor: pointer;
}

.price {
    color: #1F5754;
}

.cora {
    background-color: white;
    height: 30px;
    width: 30px;
}

.heart {
    margin-top: 2px;
    font-size: 25px;
    color: #FD3F3F;
}

.heart * {
    vertical-align: auto!important;
}

.card-img-top {
    height: 17rem;
    object-fit: cover;
}

.star {
    color: #EA9A00;
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}