<div class="card mb-3" style="max-width: auto;">
    <div class="row g-0">

        <div class="col-md-6  d-grid  ">
            <div class="card-body  ">
                <h1 class="card-title">¡Conviértete en anfitrión!</h1>
                <h2 class="card-subtitle">¡Genera hospedaje y gana beneficios! </h2>
            </div>

            <div class=" card-body d-flex  justify content-end flex-column ">
                <button class="boton">Publica Ahora</button>
                <p class="card-text">Para mas información has <a href="">Click Aqui</a></p>

            </div>
        </div>

        <div class="col-md-6 col-md-4 d-flex justify-content-end col-sm-12">
            <img src="https://i.imgur.com/mtjzmGF.png" class="img-fluid rounded-end" alt="...">
        </div>
    </div>
</div>